/* src/style.css */

img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  display: block;
  position: relative;
}

.tamanoImg {
  width: 50%;
  height: auto;
  display: block;
  position: relative;
  align-content: center;
  align-items: center;
  border-color: black;
  margin-bottom: 20px;
}

.selected {
  border-color: blue;
}

.image-container {
  position: relative;
  margin-bottom: 20px;
}

.tachon {
  position: absolute;
  background-color: black;
  opacity: 1;
  pointer-events: none;
  z-index: 2;
}

header.seleccion {
  position: fixed; /* fijo arriba */
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* fondo blanco */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* opcional, para separarlo */
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start; /* o center / space-between */
  align-items: center;
  gap: 10px; /* espacio entre botones si están juntos */
}

/* Asegurarse que main no quede tapado por header fijo */
main.seleccionMain {
  padding-top: 60px; /* ajustar según la altura real del header */
}

.botonFijo {
  position: fixed;
  top: 20px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Botón volver a la izquierda */
#volverBtn {
  left: 20px;
}

/* Botón tachar a la derecha */
#activarTachon {
  right: 20px;
}
